body {
  margin: 0;
  padding: 0;
  background-color: #f5f7fa;
  height: 100vh;
}

canvas {
  display: block;
}

.grid-container {
  height: 86.5vh;
  display: grid;
  grid-template-columns: 37% 63%;
  grid-template-areas: 'content canvas';
}
