body {
  margin: 0;
  padding: 0;
  background-color: #f5f7fa;
  height: 100vh;
}

canvas {
  display: block;
}

.grid-container {
  height: 83.7vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 'content canvas ';
}
