@import url('https://fonts.googleapis.com/css?family=Lato:400,300');

.color-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff5722;
  margin-right: 10px;
}

.color-text {
  flex: 1;
  color: #5f6369;
  font-family: monospace;
  font-size: 14px;
}

.right-arrow {
  width: 15px;
  height: 15px;
  filter: invert(26%) sepia(9%) saturate(436%) hue-rotate(171deg)
    brightness(91%) contrast(88%);
}
