.customizer-container {
  height: 93.5vh;
  display: grid;
  grid-template-columns: auto 5fr;
  background-color: #ffffff;
}

.stylishTabs {
  width: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-right: 0.5px solid #ccc;
}

.customView-container {
  position: relative;
}

.controlTabs-container {
  position: absolute;
  top: 8rem;
  right: -47px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* text && logos components */

.userInput-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 53.5vh;
}

.top-container {
  margin-bottom: 1em;
}

.stylish-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 3em;
}

.stylish-div {
  width: 5rem;
  height: 5rem;
  display: inline-flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
  background-color: #ffffff8f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
  margin-right: 1em;
  margin-bottom: 1em;
}

.stylish-div:nth-last-child(1) {
  margin-right: 0;
}

.text-div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: large;
}

.text-label {
  display: block;
  width: max-content;
  margin-bottom: 5px;
}

.user-input {
  width: 98%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.stylish-input {
  width: 10%;
}

.select-font {
  width: auto;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}
