.customizer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stylishTabs {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5px;
}

.customView-container {
  position: relative;
}

.viewer-container {
  height: 460px;
  width: 460px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 5px;
}

.controlTabs-container {
  position: absolute;
  top: 8rem;
  right: -47px;
}
