.customizerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editorTabs {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5px;
}

.viewerContainer {
  height: 460px;
  width: 460px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 5px;
}
