.design-container {
  height: 53.5vh;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 0.5em;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.design-tab {
  height: fit-content;
  border: 0.5px solid rgba(228, 228, 228, 0.8);
  margin-bottom: -100px;
}

.design-tab:hover {
  border: 0.5px solid rgba(119, 119, 119, 0.849);
}

.design-tab.active {
  background-color: #ddd;
  border: 0.5px solid rgba(119, 119, 119, 0.849);
}

.design-tab > .img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 20px;
}

.design-tab > .img-container > .design-img {
  height: 80px;
  width: 80px;
  padding-bottom: 10px;
}
