.viewer-container {
  padding: 20px;
}

.title-h4 {
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  font-weight: 700;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  color: #5f6369 !important;
}

.description {
  font-size: 14px !important;
  margin-top: 5px;
  margin-bottom: 0;
  color: #5f6369 !important;
}

.design-container-tabs {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0.5em;
}

.design-tab {
  height: fit-content;
  border: 0.5px solid rgba(228, 228, 228, 0.8);
  border-radius: 4px;
  box-shadow: 0 0 1px 1px #00000029;
}

.design-tab:hover {
  background-color: #f4f8ff;
  border: 0.5px solid #86ade1;
}

.design-tab.active {
  background-color: #e8f0fe;
  border: 0.5px solid #86ade1;
}

.design-tab > .img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px 0;
}

.design-tab > .img-container > .design-img {
  height: 80px;
  width: 80px;
  padding-bottom: 10px;
}
