.stylish-tab {
  width: 4em;
  height: 3em;
  position: relative;
  padding: 10px 10px;
  border-bottom: 0.5px solid #ccc;
  font-family: 'Times New Roman', Times, serif;
  font-size: smaller;
  cursor: pointer;
}

.stylish-tab:hover {
  background-color: aliceblue;
}

.stylish-tab.active {
  color: #1a73e9;
  background-color: #e8f0fe;
}

.control-tab {
  width: 35px;
  height: 40px;
  position: relative;
  display: flex;
  padding: 5px;
  justify-content: center;
  border: 1px solid #ccc;
  align-items: center;
  background-color: #f9f9f9;
  cursor: pointer;
  outline: none;
}

.control-tab:hover {
  background-color: #ddd;
  border: 0.5px solid rgba(119, 119, 119, 0.849);
}

.control-tab.active {
  background-color: #ddd;
  font-weight: bold;
}

.control-tab > .img-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

.control-tab > .img-container > .control-img {
  width: 30px;
  height: 30px;
}

.stylish-tab > .img-container > .stylish-img {
  width: 15px;
  height: 15px;
}

.stylish-tab.active > .img-container > .stylish-img {
  filter: invert(24%) sepia(91%) saturate(558%) hue-rotate(179deg)
    brightness(97%) contrast(94%);
}
